<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>인삿말</title>
</head>
<body>
  {% include "./main.html" %}
  <form action="/admin/updateintro" method="POST">
      제목:<input name="subject" type="text" id="intro_subject" value="{{subject}}"><br>
      내용:<textarea name="content" id="intro_content" cols="30" rows="10">{{content}}</textarea>
      <input type="submit" value="수정하기">
    </form>

  
  <!-- {% if e==true and msg!=undefined %}
  <script>
    alert('{{msg}}');
    msg = undefined;  
  </script>
  {% endif %} -->
</body>
</html>