<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>인삿말</title>
  <link rel="stylesheet" href="/admin/css/index.css">

</head>
<body>
  <div id = "wrap">
    <div id="container1900">
      {% include "../layout/gnb.html" %}
      {% include "../layout/info_snb.html" %}
      <div id="main">
        <form action="/admin/info/updateintro" method="POST">
          제목:<input name="subject" type="text" id="intro_subject" value="{{subject}}"><br>
          내용:<textarea name="content" id="intro_content" cols="30" rows="10">{{content}}</textarea>
          <input type="submit" value="수정하기">
        </form>

      </div>
    </div>
  </div>

 

  
</body>
</html>