<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>인삿말</title>
  <link rel="stylesheet" href="/admin/css/index.css">

</head>
<body>
  <div id = "wrap">
    <div id="container1900">
      {% include "../layout/gnb.html" %}
      {% include "../layout/info_snb.html" %}
      <div id="main">
        <div>
          
            <form action="/admin/info/modify?id={{result.id}}" method="post">
              <input type="hidden" name="id" value="{{result.id}}">
              {% if result.id==1 %}
              <input type="text" name="subject" value="{{result.subject}}">
              {% endif %}
              <textarea name="content" id="" cols="30" rows="10">{{result.content}}</textarea>
              <input type="submit" value="수정하기">
            </form>
          
        </div>

      </div>
    </div>
  </div>

 

  
</body>
</html>