
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>인삿말</title>
  <link rel="stylesheet" href="/admin/css/index.css">

</head>
<body>
  <div id = "wrap">
    <div id="container1900">
      {% include "../layout/gnb.html" %}
      {% include "../layout/info_snb.html" %}
      <div id="main">
        <form action="/admin/info/create_teacher" method="post" enctype="multipart/form-data">
          이름:<input type="text" name="name"><br>
          직위:<input type="text" name="position"><br>
          제목:<textarea name="title" id="" cols="30" rows="10"></textarea><br>
          경력:<textarea name="career" id="" cols="30" rows="10"></textarea><br>
          내용:<textarea name="content" id="" cols="30" rows="10"></textarea><br>
          이미지:<input type="file" name ="img"><br>
          
          <input type="submit" value="등록">
        </form>
        

      </div>
    </div>
  </div>

 

  
</body>
</html>

